button{
  margin:4px;  
}
.btns{
  margin-right:35%;
  background:grey;
  margin-left:35%;  
  box-shadow:6px 6px 6px 6px rgb(160,160,160);
  border-style:solid;
  border-width:1px;
}
body{
  background:rgb(120,40,40);
}
.display{
  border-style:solid;
  border-width:1px;
  margin-right:35%;
  background:rgb(200,200,200);
  margin-left:35%;
  font-size: 250%;
  box-shadow:7px 6px 6px 4px rgb(160,160,160);
}
h1{
  //color:white;
  font-family: "arial"; 
}
#R{
  margin-left:75px;
}
.top{
  background:rgb(160,180,0);
  text-shadow:3px 3px black;
  color:rgb(170,10,100);
}